repos:
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3.8
        args:
          - backend
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: local
    hooks:
      - id: generate-swagger-schema
        name: generate-swagger-schema
        entry: bash -c 'docker-compose -f .docker/docker-compose.yml exec -T backend python manage.py spectacular --file schema.yml && git add backend/schema.yml'
        language: system
        types: [python]
        pass_filenames: false

